@charset "UTF-8";
body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        /* background-image: url('background.jpeg'); */
        background-image: linear-gradient(330deg, #100421, #2A124A, #73539D, #AA8CD0);
        background-size: 100% 120%;
        background-position: center;
      }
      .login-container, .cadastro-container, #menu-container {
        border-radius: 50px;
        background-image: linear-gradient(330deg, #291446, #2A124A, #73539D, #7958a3);
        padding: 50px ;
        background-clip: padding-box;
        /* border: 50px solid transparent; */
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
        text-align: center;
      }
      .login-container img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-bottom: 20px;
      }
      .login-container input[type="text"],
      .login-container input[type="password"],
      .cadastro-container input[type="text"],
      .cadastro-container input[type="password"],
      #menu-container input[type="text"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
      }
      .login-container button,
      .cadastro-container button, #menu-container button {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;
      }
  .login-container button:hover,
  .cadastro-container button:hover, #menu-container button:hover {
    background-color: #0056b3;
  }
  .button {
    padding: 10px 20px;
    border: 1px solid black;
    background-color: #73539D;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    line-height: 50px;
  } 
  .button:hover {
    background-color: #AA8CD0;
  }